/* Slick Carousel Custom Styles */

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #9333ea !important;
  opacity: 0.3 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #9333ea !important;
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  overflow: hidden;
}
